# Dependencies
node_modules/
/.pnp
.pnp.js

# Testing
/coverage

# Production
/build
/dist

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Editor directories and files
.vscode/*
!.vscode/extensions.json
!.vscode/settings.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
*.swp
*.tmp

# TypeScript
*.tsbuildinfo

# Vite
.vite

# PWA
public/sw.js
public/workbox-*.js

# Temporary files
.cache
temp/
tmp/

# AWS Amplify
amplify_outputs.json
.amplify/
amplify/mock-data/
amplify/.config/

# AWS
.aws-sam/
aws-exports.js

# npm
.npm/
